<!DOCTYPE html>
<html>

<head lang="en">
  <meta charset="UTF-8">
  <meta content="noindex, nofollow, noimageindex">
  <link rel="icon" type="image/png" href="https://o4a7cbihz.qnssl.com/picture/57140c0c-4ffa-4dde-9757-570b53f96796" sizes="32x32">
  <title>欢迎来玩儿</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <link rel="stylesheet" href="./public/style.css">
  <script src="./public/vue.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
  <div id="app">
    <div class="header">
      <div class="container">
        <h1 style="color:white">JavaScript编程入门</h1>
        <h2 style="font-size: 25px;color:white">shasha的小基地，我会每天来施工~</h2>
      </div>
    </div>
    <div class="col-md-8">
        <div class="container">
        <div class="panel-body">
          <div class="btn btn-primary" v-on:click="sendData">有话对老师说</div>
        </div>
        <div>
            <form>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">您的姓名</span>
                <input v-model="nameS" type="name" class="form-control" id="name" placeholder="请输入您在新生大学的名称" aria-describedby="basic-addon1">
      
              </div>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">您的账号</span>
                <input v-model="accountS" type="account" class="form-control" id="account" placeholder="请输入您在新生大学的账号" aria-describedby="basic-addon1">
              </div>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">对老师说</span>
                <input v-model="contentS" type="content" class="form-control" id="content" placeholder="请输入您想说的话" aria-describedby="basic-addon1">
              </div>
              <div class="btn btn-primary" v-on:click="sendData">提交发送</div>
            </form>
          </div>
        
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">编程学习初心</h3>
          </div>
          
          <div class="panel-body">
            <div class="words-pannel" v-for="item in wordsList">
              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img class="media-object avatar" v-bind:src="item.avatar" alt="...">
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">
                    {{ item.name }}
                  </h4>
                    {{ item.words }}
                </div>
              </div>
            </div>
            
          </div>
      </div>
    </div>
    <div class="col-md-4">
        slide
    </div>

  </div>
</body>

</html>
<script>
  // vue官网： https://cn.vuejs.org/v2/guide/
  // 初始化Vue

  // 把收集的数据放在这里
  var app = new Vue({
    el: '#app',   // #app 和html中div#id的 app 对应
    data: {
      wordsList: [] , // 变量wordsList可以在html使用
      nameS: '',    // 变量nameS默认空白，同步更新用户填入的“用户姓名”
      accountS: '', // 变量accountS默认空白，同步更新用户填入的”新大账号“
      contentS: ''  // 变量contentSt默认空白，同步更新用户填入的“想说的话”
    },
    methods: {
      fetchData: function() {
        axios.get('https://js.xinshengdaxue.com/api/v1/learnJS/course/1/words')
          .then(function (response) {
            app.wordsList = response.data.words;
          })
          .catch(function (error) {
            console.log(error);
          });
      },
      sendData: function () {  
        axios.post('https://js.xinshengdaxue.com/api/v1/learnJS/sayToMe', {
          name: app.nameS, // 拿到表单的name
          account: app.accountS, // 拿到表单的account
          content: app.contentS  // 拿到表单的content
        })
          .then(function (response) {
            alert(response.data.code);  // 浏览器弹窗 post 结果，根据 api，如果弹窗1，表示处理正常，如果是0，表示处理有错误
          })
          .catch(function (error) {
            console.log(error); // 函数执行过程中，如果出错，就会直接跳到这里，浏览器conosle打印错误日志
          });
      }
    }
  });
 app.fetchData();

</script>
